h3{
	color: white;
	text-align: left;
	background: black;

}

/*p
{	
	默认值是transparent
	background-color:gray;
	padding:20px;
}*/

body
{
	background-image:url('../../image/css_test.jpg');
	background-repeat: no-repeat;
	background-position:center;
	background-attachment: fixed;  /*scroll*/
}

a:link {
	background-image:url('../../image/css_test.jpg');
	border-style: outset;
}
p.p1 {
	text-indent: 1em;  /*所有元素的第一行缩进*/
	/*padding-left: 5em;*/
	text-align: justify;
	text-transform:capitalize ;
	word-spacing:30px;
	letter-spacing: 5px;
	text-decoration:underline ;
	white-space: normal;

}
p.p2 {
	direction: rtl;

}


