h3{
	color: white;
	text-align: left;
	background: black;

}

/*p
{	
	默认值是transparent
	background-color:gray;
	padding:20px;
}*/

body
{
	background-image:url('../../image/css_test.jpg');
	background-repeat: no-repeat;
	background-position:center;
	background-attachment: fixed;  /*scroll*/
}

p {
	text-indent: 1em;  /*所有元素的第一行缩进*/
	/*padding-left: 5em;*/
}